// Home Page CSS

.page-info {
    display: flex;
    flex-flow: column;
    align-items: center;

    & .headline-container {
        margin-top: 4.0rem;

        & .top {
            display: flex;
            flex-flow: column;
            align-items: center;
            margin-bottom: 1.6rem;

            & small {
                font-size: 1.2rem;
                text-align: center;
            }
        }

        & .headline {
            font-size: 3.4rem;
            text-align: center;
        }

        & .btn-container {
            display: flex;
            flex-flow: column;
            align-items: center;
            
            & .cta-btn {
                .cta-btn(@primary-color, @secondary-color);

                &:first-child {
                    background-color: @secondary-color;
                    color: @primary-color;
                }
            }
        }
    }
}

.about {
    margin: 10rem auto;
    height: 500px;
    position: relative;

    & .skew {
        position: absolute;
        height: 100%;
        width: 100%;
        background-color: @secondary-color;
        z-index: -1;
        transform: skewY(5deg);
        box-shadow: 2px 2px 15px #BABABA;
    }

    & .info {
        transform: translateY(8rem);
        color: @primary-color;
        text-align: center;

        & h1 {
            text-align: center;
            font-size: 3.2rem;

            &::after {
                content: "";
                display: block;
                border-bottom: 1px solid @primary-color;
                width: 50%;
                margin: 1.0rem auto;
                height: 1px;
            }
        }

        & p {
            font-size: 1.6rem;
            padding: 0 1.0rem;
            margin: 5.0rem 0;
        }

        & button {
            .cta-btn(@primary-color, @secondary-color);
            width: 75%;
            padding: 0;
            border: 2px solid #235789;

            & a {
                text-decoration: none;
                color: @secondary-color;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 100%;
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .about {
        & .info {
            & h1 {
                &::after {
                    width: 20.0rem;
                }
            }

            & p {
                padding: 0 10.0rem;
            }

            & button {
                width: 25%;
            }
        }
    }
}