.nav {
    font-size: 1.8rem;
    .flex(column);
    padding-bottom: 1.6rem;
    background-color: @primary-color;
    box-shadow: 2px 2px 15px #BABABA;
 
    & .nav-features {
        .flex();
        justify-content: space-between;
        margin: 1.6rem 1.6rem 0;

        & .navbar-toggle {
            & .burger-line {
                width: 2.0rem;
                height: .2rem;
                background-color: #000;
                margin: .4rem 0;
            }
        }
    }
 
     & .logo {
         text-decoration: none;
     }
 
     & .main-nav {
         list-style-type: none;
         padding: 0;
         margin: 0;
         display: none;
 
         & li {
             text-align: center;
             margin: 0 auto;
             
             & a {
                .flex();
                justify-content: center;
                align-items: center;
                text-decoration: none;
                width: 100%;
                height: 100%;
                padding: 2.0rem 0;
                color: @secondary-color;
             }

             &:last-child {
                    .cta-btn(@secondary-color, @primary-color);
                    width: 95%;
                    margin: 0 auto;
                   

                    & a {
                        .flex();
                        justify-content: center;
                        align-items: center;
                        text-decoration: none;
                        width: 100%;
                        height: 100%;
                        padding: 2.0rem;
                        color: @primary-color;
                    }
             }
         }
 
         & .nav-link {
             text-decoration: none;
         }

     }
 
     .active {
         display: block;
     }
 }

 @media screen and (min-width: 768px) {
     .nav {
        .flex();
        justify-content: space-between;
        align-items: center;
        padding: 0;

        & .nav-features {
            justify-content: center;
            align-items: center;
            margin: 0 0 0 1.6rem;
        }

        & .navbar-toggle {
            display: none;
        }

        & .main-nav {
            .flex();
            justify-content: center;
            align-items: center;
            margin-right: 1.6rem;

            & li {
                margin: 0 2.0rem;
                width: 10.0rem;

                &:last-child {
                    width: 12.0rem;
                }
            }
        }
    }
 }